# Build artifacts
/build/
Release/
x64/
*.exe
*.lib
*.exp
*.pdb
*.obj

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# VS files
*.sln
*.vcxproj*
*.user
*.filters

# IDE
.vscode/

# Debug outputs folder (se vuoi escluderlo)
postural_risk_assessment/debug/

# Misc
*.log